.main {
    min-height: 100vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 3rem;
    align-items: center;
  }
.blogItemh3{
    cursor: pointer;

}
.blogItempara{
  max-width: 45vw;
  
}